{%  extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Log-out</a>
  </li>
</ul>

<div style="padding:30px">
    <h1 align="center" style="padding:20px">Welcome to the bookstore.</h1>
    <h4 align="center" style="padding:10px">Where you can rate various books and post reviews for the same.</h4>
</div>
<div style="padding:30px">
    <form action="{{ url_for('search') }}" method="post">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter book's title/author/isbn number" name="input" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
